.keyboard-wrapper {
    position: fixed;
    top: 100px;
    left: 150px;
    width: 80%;
}

.keyboard-row {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.keyboard-key {
    font-size: 18px;
    display: inline;
    height: 50px;
    margin: 0 5px;
    padding: 0;
    color: #555555;
    border: none;
    border-radius: 4px;
    background-color: #E0E0E0;
}

.keyboard-key:focus {
    outline: none;
}
