/***************************Variables***************************/
$success-color: #2ecc71;
$danger-color: #e74c3c;
$dark-gray: #555;
$medium-gray: #bdbdbd;
$light-gray: #e0e0e0;
$white-color: #fff;
$capslock-light: #3498db;
$blackout-color: rgba(25, 25, 25, 0.9);
/***************************************************************/


.keyboard-blackout-background {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $blackout-color;
}

.keyboard-wrapper {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    line-height: 18px;

    position: fixed;
    z-index: 9999;

    width: calc(100% - 40px);
    min-width: 1004px;
    max-width: 1100px;

    color: $dark-gray;
    .keyboard-action-wrapper {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;

        width: 100%;
    }
    .keyboard-action-button {
        font-family: inherit;
        font-size: inherit;

        display: inline;

        width: 15%;
        height: 40px;
        margin: 0 5px;
        padding: 0;

        cursor: pointer;

        color: $white-color;
        border: none;
        border-radius: 4px;
        outline: none;
    }
    .keyboard-cancel-button {
        background-color: $danger-color;
    }
    .keyboard-accept-button {
        background-color: $success-color;
    }
    .keyboard-input-field {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;

        box-sizing: content-box;
        width: 60%;
        height: 36px;
        padding-right: 10px;
        padding-left: 10px;

        color: inherit;
        border: solid 1px $dark-gray;
        border-radius: 4px;
        outline: none;
    }
    &.condensed-layout {
        /* background-color: red !important; */
        .keyboard-row {
            margin: 10px 0;
        }
    }
}

.keyboard-row {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.keyboard-key {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    display: inline;

    height: 100%;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
    vertical-align: middle;

    color: inherit;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: $light-gray;
    &:focus {
        outline: none;
    }
}

.caps-lock-key {
    position: relative;
    &::before {
        position: absolute;
        top: 10px;
        right: 10px;

        width: 7px;
        height: 7px;

        content: '';
        transition: background-color 0.05s ease-in-out;

        border: solid 1px $medium-gray;
        border-radius: 50%;
        background-color: transparent;
    }
}

.caps-lock-key-active {
    &::before {
        background-color: $capslock-light;
    }
}
